name: Build and Test Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
   
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
   
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
     
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
     
    - name: Build and Test with Gradle
      run: ./gradlew build

    - name: Create Docker Network
      run: docker network create docker-network 
   
    - name: Docker Compose Up
      run: docker compose up -d

    - name: Wait for Container
      run: sleep 20

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Download and Install Postman CLI
      run: |
          curl -L https://dl-cli.pstmn.io/install/linux64.sh | sh

    - name: Authenticate Postman CLI
      env:
       POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
      run: postman login

    - name: Run Tests using Postman CLI
      run: |
        postman collection run ./postman_collection.json \
          --environment ./postman_environment.json \
          --iteration-data ./data.json \
          --reporter-html ./postman-report.html

    - name: Docker Compose Down
      run: docker compose down

    - name: Upload Postman CLI Report
      uses: actions/upload-artifact@v3
      with:
        name: postman-report
        path: postman-report.html
